html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.App {
  text-align: center;
  margin: 0 auto;
}

.App-header {
  background-color: #C40C0C;
  /* background-image: url(./images/andrew-ly-iJTXWlMmoOg-unsplash.jpg); */
  height: 10vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: black; 
  border-style: solid;
}

.contentContainer {
  display: flex;
  height: 80vh;
  font-size: calc(5px + 2vmin);
}

.listContainer {
  border-style: solid; 
  background-color: whitesmoke;
  /* border-style: solid; */
  font-size: calc(5px + 2vmin);
  height: 79.5vh;
  width: 20%;
  justify-content: center;
}

.ulContainer {
  display: flex;
  flex-wrap: wrap;
}

.provinces {
  border-style: solid;
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: center;
}

.primaryContainer {
  width: 80%;
  height: 80vh;
  /* border-style: solid; */
  background-color: white;
  border-color: blue;
}

.inputArea {
  background-color: #9bb7c9;
  height: 10vh;
}

h2,
h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  border-right-width: 0;
  border-left-width: 0;
}

.inputArea h3 {
  overflow: hidden;
  display: inline;
}

a {
  margin: 3px;
}
/* h2 provinces {
  border-style: solid;
} */

p {
  margin: 0;
}

div {
  border-right-width: 0;
  border-left-width: 0;
}

li {
  position: relative;
  bottom: 20px;
}

.mapContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 69.5vh;
  border-style: solid;
  background-color: #9bb7c9;
}

footer {
  height: 9.5vh;
  display: flex;
  border-style: solid;
  justify-content: center;
  align-items: center;
  background-color: #C40C0C;
}

footer p {
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

main {
  display: inline;

}

ul {
  display: inline;
  flex-direction: column;
  list-style-type: decimal;
}

li {
  text-decoration-style: none;
}

/* @media (max-width: 660px) {
  img {
    size: 50%;
  }
} */

#canadaMap {
  overflow: hidden;
}